<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@v240.ig.polytech.univ-montp2.fr:1521:ora10</property>
        <property name="hibernate.connection.username">joris.puechlong</property>
        <property name="hibernate.connection.password">oracle</property>
        <mapping resource="domain/user/Users.hbm.xml"/>
  <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class"
>thread
        </property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class"
>org.hibernate.cache.NoCacheProvider
        </property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql"
>true
        </property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto"
>update
        </property>

    </session-factory>
</hibernate-configuration>
